* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

body {
    background: #f8f8f8;
}

.container-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.modal-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: rgba(0,0,0,.5);
}

.container,
.modal {
    width: 500px;
    background: white;
    padding: 30px;
    border-radius: 5px;
}

h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.input-container {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    margin-bottom: 15px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 42px;
    width: 100%;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #00AA8D;
    border: none;
    height: 42px;
    width: 150px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: lighter;
    cursor: pointer;
}

button.ghost {
    background: none;
    color: #00AA8D;
    margin-top: 15px;
    text-transform: none;
    font-weight: 500;
    width: auto;
    height: auto;
}

.header {
    width: 100%;
    height: 62px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.logo p {
    color: #00AA8D;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 2px;
}

.footer {
    width: 100%;
    height: 42px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer ul {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer li {
    margin-right: 30px;
}

.footer li:last-child {
    margin-right: 0px;
}

.footer a {
    text-decoration: none;
    color: #00AA8D;
}

.modal {
    position: relative;
}

#close-modal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}

.visible {
    display: flex !important;
}